// Home Content

.font-normal {
  font-size: 18px;
}
.width {
  width: 100%;
}
.marginsandpadding {
  margin: 0 auto;
  padding: 0 auto;
}
* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 auto;
}
@media (max-width: 326px) {
  * {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 auto;
  }
}
html {
  margin: 0 auto;
  padding: 0 auto;
}
@media (max-width: 800px) {
  html {
    width: 100%;
    margin: 0 auto;
    padding: 0 auto;
  }
}
@media (max-width: 500px) {
  html {
    width: 100%;
    margin: 0 auto;
    padding: 0 auto;
  }
}
@media (max-width: 326px) {
  html {
    width: 100%;
    margin: 0 auto;
    padding: 0 auto;
  }
}
body {
  max-width: 1000px;
  margin: 0 auto;
  font-size: 62.5%;
}
@media (max-width: 800px) {
  body {
    width: 100%;
    margin: 0 auto;
    padding: 0 auto;
  }
}
@media (max-width: 500px) {
  body {
    width: 100%;
    margin: 0 auto;
    padding: 0 auto;
  }
}
@media (max-width: 326px) {
  body {
    width: 100%;
    margin: 0 auto;
    padding: 0 auto;
  }
}







 .home {
   
  .intro {
    /* .backgrounded {
      .background();
      .absolute();
    }
 */
    h1 {
      text-align: center;
      font-size: 4rem;
      margin-top: 1rem;
    }

    nav {
      text-align: center;
    }

    img {
      width: 80rem;
      height: auto;
      margin-top: 10rem;

      @media  (max-width: 500px) {
        width: 50rem;
        height: auto;
      }
    }

    h2 {
      padding: 15px;
    }

    p {
      padding: 0 15px;
    }
  }


}

//about page

.team-img {
   width: 100%;
   //height: 50%;
    box-shadow: 0rem 0rem 1.3rem 0.1rem rgba(0, 0, 0, 0.5);
    border-radius: 0.3rem;
}

